@font-face {
    font-family: 'Voyage';
    src: local('Voyage Regular'), local('Voyage-Regular'),
        url('Voyage.woff2') format('woff2'),
        url('Voyage.woff') format('woff'),
        url('Voyage.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }